.Container { 
  width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Input {
  width: 400px;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  margin: 20px 150px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 1px 0px rgba(39, 37, 37, 0.55);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.55);
  border-radius: 15px;
  border: 1px solid #d4d4d4;
}

.Input:active {
  outline: none;
}

.Input:focus {
  outline: none;
  border: 1px solid #008cffee;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 140, 255, 1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 140, 255, 1);
  box-shadow: 0px 0px 3px 0px rgba(0, 140, 255, 1);
  
}

.Title {
    font-size: 40px;
}

@media (max-width: 500px) {

  .Container {
    width: 100%;
  }
  .Input {
    width: 50%;
  }
}