.App {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    background-color: #fefefe;
    flex-flow: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}